#cluster-map {
    width: 100%;
    height: 400px;
}
#map {
    width: 100%;
    height: 300px;
}

/* way to make this div go beyond its containers width (full vh width) */
#full-width {
    width: 99vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}